In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [7]:
os.getcwd()

'd:\\ML_MODEL\\MLOPS_PROJECT\\project_youtube_3\\COmplete_ML_Pipeline\\complete-ml-pipeline\\src'

In [8]:
os.chdir("..")

In [9]:
os.getcwd()

'd:\\ML_MODEL\\MLOPS_PROJECT\\project_youtube_3\\COmplete_ML_Pipeline\\complete-ml-pipeline'

In [12]:
data = pd.read_csv('data/car_price_prediction_.csv')

In [13]:
data.sample(5)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
197,198,Honda,2006,1.3,Diesel,Automatic,19340,Used,70260.83,Accord
749,750,Tesla,2022,5.1,Hybrid,Manual,241121,New,92800.59,Model 3
2208,2209,Toyota,2004,1.8,Petrol,Automatic,232275,Used,76225.56,Prius
1459,1460,BMW,2002,5.6,Diesel,Automatic,172624,Like New,75066.13,5 Series
1769,1770,Mercedes,2019,3.1,Diesel,Manual,299854,New,64119.76,GLA